.appHeader .btn {

    cursor: pointer;
    margin-right: 100px;
    padding: 6px 24px 6px 24px;
    border-radius: 32px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1DB954;
    color: white;
    border: none;   
}